{% extends 'newbase.html' %}
{% block title %}Members{% endblock %}
{% block content %}
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <br>
        <h3>Member Tracker</h3>
        <a href="{{ url_for('addmember') }}"><span class="fa fa-plus"> Form </span></a>
        <br>
        <br>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Pseudonym</th>
                <th>Gender</th>
                <th>BirthDate</th>
                <th>ContactNumber</th>
                <th>Address</th>
                <th>NGI Number</th>
                <th>MemberSince</th>
                <th>Rank</th>
                <th>Chapter</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members.items %}
            <tr>
                <td>{{ member.person.FirstName }} {{ member.person.MiddleName }} {{ member.person.LastName }}</td>
                <td>{{ member.pseudonym }}</td>
                <td>{{ member.person.gender }}</td>
                <td>{{ member.person.dob }}</td>
                <td>{{ member.contact_number}}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.ngi_number }}</td>
                <td>{{ member.member_since }}</td>
                <td>{{ member.rank }}</td>
                <td>{{ member.chapter }}</td>
                <td><a href="{{ url_for('editmember', person_id=member.id, edit='Y') }}"><span class="fa fa-edit"></span></a></td>
                <td><a href="{{ url_for('editmember', person_id=member.id, delete='Y') }}"><span class="fa fa-trash"></span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        Page:
        {% for page in members.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}
        {% if page %}
        <a href="{{ url_for('members', page_num=page) }}">{{ page }}</a>
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-1"></div>
</div>
<script>
// Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable({ "lengthMenu": [ [10, 100, 1000, -1], [10, 100, 1000, "All"] ] });
});
</script>
{% endblock %}
