{% import "bootstrap/wtf.html" as wtf %}
{% extends 'newbase.html' %}
{% block title %}NGI Member{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<br>
			{% if form.delete.data == 'N' %}
			<h3>Edit Form</h3>
			{% else %}
			<h3>Delete User</h3>
			{% endif %}
			<br>
			{% if form.edit.data == 'Y' or form.delete.data == 'Y' %}
			<form method="POST" action="{{ url_for('editmember', person_id=person_id) }}">
			{% else %}
			<form method="POST" action="{{ url_for('addmember') }}">
			{% endif %}
				<div class="form-group">
					{{ form.hidden_tag() }}
					{{ wtf.form_field(form.first_name) }}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.middle_name )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.last_name )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.pseudonym )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.gender) }}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.dob )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.contact_number)}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.address )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.ngi_number )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.member_since )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.rank )}}
				</div>
				<div class="form-group">
					{{ wtf.form_field(form.chapter )}}
				</div>
				<button type="submit" class="btn btn-primary">
					{% if form.delete.data == 'N' %}
						Save
					{% else %}
						Delete
					{% endif %}
				</button>
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
{% endblock %}
