{% import "bootstrap/wtf.html" as wtf %}
{% extends 'newbase.html' %}
{% block title %}File Upload{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"><br>
            {% if error %}
            <p class="text-danger">{{ msg }}</p>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"><h3>Variance correction form for user {{ variance.user.ibmserial }} week {{ variance.weekending }} </h3></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('fixvariance', token=token) }}">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.ilctotal)}}
                </div>
                <div class="form-group">
                    {{ wtf.form_field(form.ctetotal) }}
                </div>
                <div class="form-group">
                    {{ wtf.form_field(form.doc)}}
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
